@font-face {
	// font-family: Rubik Bubbles;
	// src: url("../../resources/partials/fonts/RubikBubbles-Regular.ttf");
	font-family: Fungi;
	src: url("../../resources/partials/fonts/Fungi.ttf");
}

.home__nav {
	color: #7f7c71;
	font-family: Fungi;
	font-size: 80px;
	text-align: center;
}
